@media only screen and (max-width: 2560px){
  .header,
  .nav-header {
    height: 3.5rem;
  }

  .nav-header .brand-title {
    font-size: 1rem;
  }

  [data-header-position="fixed"] .content-body {
    padding-top: 3rem;
  }

  .deznav {
    top: 3.5rem;
  }
}

@media only screen and (max-width: 1250px) {

  [direction="rtl"] .content-body {
    margin-right: 13rem;
  }

  [data-header-position="fixed"] .content-body {
    padding-top: 2.6rem;
  }

  .header,
  .nav-header {
    height: 3.5rem;
  }

  .hamburger.is-active .line:nth-child(2) {
    transform: translateX(0px);
    width: 18px;
    height: 2px;
  }

  .hamburger .line:nth-child(1) {
    width: 14px;
  }

  .hamburger .line:nth-child(2) {
    width: 18px;
  }

  .hamburger .line:nth-child(3) {
    width: 14px;
  }

  .hamburger.is-active .line:nth-child(1),
  .hamburger.is-active .line:nth-child(3) {
    width: 10px;
    height: 2px;
  }

  .hamburger {
    width: 20px;

  }


  .header-right .notification_dropdown .nav-link {
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
  }

  .header-right .header-profile>a.nav-link .header-info span {
    font-size: 12px;
  }

  .header-right .header-profile>a.nav-link .header-info small {
    display: block;
    font-size: 10px;
  }


  /* *********************************************************************** */
  /* *********************************************************************** */
  /* *********************************************************************** */
  /* *********************************************************************** */


  .nav-header,
  .deznav {
    width: 13rem;
  }

  .deznav {
    top: 3.5rem;
  }


  .nav-header .brand-title {
    font-size: 1rem;
    padding-top: 10px;
  }

  [direction="rtl"] .nav-header .brand-logo {
    padding-left: 0;
    padding-right: 2rem;
  }

  [data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu>li {
    padding: 0 1vh;
  }

  [direction="rtl"] .deznav .metismenu li>a i {
    padding: 0;
  }

  [data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu>li>a {
    font-size: 12px;
    padding: 12px 10px;
  }

  [data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu > li> a > span {
    margin-right: 0.5rem;
  }

  [direction="rtl"] .deznav .metismenu li ul a {
    font-size: 12px;
    padding-right: 2rem;
  }

  [direction="rtl"][data-sidebar-style="full"] .deznav .metismenu ul a:hover {
    padding-left: 1rem;
    padding-right: 3.5rem;
  }


  [data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu>li.mm-active>a i {
    color: #fff;
    font-size: 1.5rem;
  }

  [direction="rtl"][data-sidebar-style="full"][data-layout="vertical"] .deznav .metismenu>li .has-arrow:after {
    left: 1.25rem;
    right: auto;
  }


  .nav-header .logo-abbr {
    min-width: 30px;
    /*width: 5vh;*/
  }

  .deznav .metismenu .has-arrow:after {
    width: 0.3rem;
    height: 0.3rem;
  }


  /* *********************************************************************** */
  /* *********************************************************************** */
  /* *********************************************************************** */
  /* *********************************************************************** */

  .breadcrumb-item a {
    font-size: 12px;
  }

  .breadcrumb-item span {
    font-size: 14px;
  }

  .table-header-actions .card-title {
    font-size: 16px !important;
  }

  .table-header-actions .subtitle {
    font-size: 12px !important;
  }

  .card-header .card-title {
    font-size: 16px !important;
  }

  .card-header .subtitle {
    font-size: 12px !important;
  }

  .dynamic-header-actions .button-box {
    max-height: 32px;
  }

  /* *********************************************************************** */
  /* *********************************************************************** */
  /* *********************************************************************** */
  /* *********************************************************************** */

  .card-body {
    padding: 1.5rem 1rem;
  }

  .button-box {
    padding: 1px;
  }

  .button-box i {
    padding: 0 !important;
    font-size: 14px !important;
  }

}

@media only screen and (max-width: 767px) {
  .p-tree-custom-toggler {
    width: 1rem;
  }
  .dynamic-tree{
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    display: block;
  }

  .tree-actions{
    padding: 0.5em 15px;
    border-bottom: 1px solid #c9c9c970;
    border-left: unset;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }


  .nav-header {
    width: 3rem;
  }

  .deznav {
    width: 16rem;
  }

  [direction="rtl"] .nav-header .brand-logo {
    padding-right: 0;
  }

  [direction="rtl"] .nav-control {
    left: -3.5rem;
  }

  .breadcrumb {
    width: 92%;
}

[data-sidebar-style="overlay"] .deznav .metismenu>li>a {
  font-size: 14px;
}

.card-header {
  padding: 0.25rem 0.5rem 0.25rem;
}

}

@media screen and (max-width: 570px){

  .card-title {
    margin-bottom: 1vh!important;
    font-size: 16px!important;
}

.card-header .subtitle {
    padding-top: 0!important;
    font-size: 12px!important;
    line-height: 1.5!important;
}

#without-search-wrapper .table-header-actions{
  margin-bottom:0.2rem!important;
}

  .breadcrumb-item a,.breadcrumb-item span{
    font-size:12px;
  }
  .table-actions .button-box{
    padding: 2px;
    position: inherit;
  }


  .table-actions #gridLines >div {
    margin-left: 0;
  }

  .table-actions #refresh >div {
    margin-left: 0.5rem;
  }
  .table-actions #new >div {
    margin-left: 0.5rem;
  }
  .table-actions #search >div {
    margin-left: 0.5rem;
  }
  .table-actions #gridLines >div {
    margin-left: 0.5rem;
  }

  .dynamic-header-actions .button-box:nth-child(1) {
    left: 0.5rem;
  }

  .dynamic-header-actions .button-box:nth-child(2) {
    left: 3.5rem;
  }

  .dynamic-header-actions .button-box:nth-child(3) {
    left: 6rem;
  }

  .dynamic-header-actions .button-box:nth-child(4) {
    left: 0;
  }

  .button-box .button-icon i{
    padding-top: 0!important;
    font-size: 12px;
  }

  .button-box input{
    display: none;
  }

  }
