@keyframes fadeinup {
  0% {
    opacity: 0;
    transform: translateY(25%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeoutdown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(25%);
  }
}

@keyframes ripple {
  0% {
    transform: scale(0) translateY(-45%) translateX(13%);
  }

  100% {
    transform: scale(1) translateY(-45%) translateX(13%);
  }
}

.notif__icon--error,
.notif__icon--success {
  height: 21px;
  width: 21px;
  background: white;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  position: relative;
}

.notif__icon--error:after,
.notif__icon--error:before {
  content: "";
  background: currentColor;
  display: block;
  position: absolute;
  width: 3px;
  border-radius: 3px;
  left: 9px;
  height: 12px;
  top: 5px;
}

.notif__icon--error:after {
  transform: rotate(-45deg);
}

.notif__icon--error:before {
  transform: rotate(45deg);
}

.notif__icon--success:after,
.notif__icon--success:before {
  content: "";
  background: currentColor;
  display: block;
  position: absolute;
  width: 3px;
  border-radius: 3px;
}

.notif__icon--success:after {
  height: 6px;
  transform: rotate(-45deg);
  top: 9px;
  left: 6px;
}

.notif__icon--success:before {
  height: 11px;
  transform: rotate(45deg);
  top: 5px;
  left: 10px;
}

.notif__toast {
  display: block;
  overflow: hidden;
  bottom: -100%;
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.25);
  position: relative;
  padding: 0 13px;
  border-radius: 2px;
  margin-top: 12px;
  width: 300px;
  color: white;
}

/* .notif__toast--disappear {
  transform: translateY(0);
  animation: fadeoutdown 0.3s forwards;
  animation-delay: 0.25s;
}
.notif__toast--disappear .notif__message, .notif__toast--disappear .notif__icon {
  animation: fadeoutdown 0.3s forwards;
  opacity: 1;
  transform: translateY(0);
}
.notif__toast--disappear .notif__message {
  animation-delay: 0.05s;
} */
.notif__ripple {
  height: 400px;
  width: 400px;
  position: absolute;
  transform-origin: bottom right;
  right: 0;
  top: 0;
  border-radius: 50%;
  transform: scale(0) translateY(-51%) translateX(13%);
  z-index: 5;
  animation: ripple 0.4s ease-out forwards;
}

.notif__wrapper {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 15px;
  border-radius: 3px;
  position: relative;
  z-index: 10;
}

.notif__icon {
  width: 22px;
  text-align: center;
  font-size: 1.3em;
  opacity: 0;
  animation: fadeinup 0.3s forwards;
  animation-delay: 0.3s;
  margin-right: 13px;
}


[dir='rtl'] .notif__icon {
  margin-right: 0;
  margin-left: 13px;
}

.notif__message {
  vertical-align: middle;
  position: relative;
  opacity: 0;
  animation: fadeinup 0.3s forwards;
  animation-delay: 0.25s;
}

/* .notif {
  position: fixed;
  bottom: 20px;
  right: 30px;
  color: white;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */
/* Small screens */
@media only screen and (max-width: 736px) {
  .notif {
    bottom: 0;
    left: 0;
    right: 0;
    align-items: initial;
  }

  .notif__ripple {
    height: 600px;
    width: 600px;
    animation-duration: 0.5s;
  }

  .notif__toast {
    max-width: initial;
    border-radius: 0;
    box-shadow: 0 -2px 7px 0 rgba(0, 0, 0, 0.13);
  }
}


#toast-container.toast-top-right {
  top: 5.5rem !important;
  left: 2rem !important;
  right: unset !important;
}
