<div
  id="main-wrapper"
  [class]="{ 'menu-toggle': _sharedService.hamburgerClass }"
  class="show"
>
  @if (showLoading.value) {
  <div class="d-flex justify-content-center align-items-center vh-100">
    <fava-loading></fava-loading>
  </div>
  } @else {
  <div id="except-footer" class="vh-100 w-100">
    <app-nav-header></app-nav-header>
    <app-header></app-header>
    @if(loadModules){
    <app-navigation></app-navigation>
    <div class="content-body">


      <div class="breadcrumb-container">
        <fava-breadcrumb class="d-block" [backButton]="backButton" />
      </div>

      <div [@routeAnimations]="getRouteAnimationData()">
        <router-outlet></router-outlet>
      </div>
    </div>
    } 
  </div>

  }
</div>
<router-outlet></router-outlet>
