<div
  class="bg-color continerr d-flex flex-column align-item-center align-items-center vh-100 justify-content-center"
>
  <h1 class="title text-white font-w600">404</h1>
  <h1 class="text-light">{{ "PAGE_NOT_FOUND" | translate }}</h1>
  <div class="p-4 row">
    <fava-button
      class="text-primary"
      [btnTitle]="'HOME_PAGE' | translate"
      (btnClick)="goHome()"
    >
    </fava-button>
    <fava-button [btnTitle]="'RETURN_BACK' | translate" (btnClick)="goBack()">
    </fava-button>
  </div>
</div>
