<div class="deznav">
  <div class="deznav-scroll">
    <ul class="metismenu" id="menu" metis-menu #menu>
      @for (navigationItem of getNavigationList; track $index) {
      <li
        [class]="{ 'mm-active': hasActiveLink(navigationItem) }"
        (click)="showSubItem(navigationItem, $event)"
      >
        <a
          class="ai-icon"
          [class.has-arrow]="navigationItem.items?.length"
          [routerLink]="[
            navigationItem.path ? navigationItem.path : currentHref
          ]"
          aria-expanded="false"
        >
          <i [class]="navigationItem.iconClass"></i>
          <span [innerText]="navigationItem.title" class="nav-text"> </span>
        </a>
        @if (navigationItem.items) {
        <ng-container
          *ngTemplateOutlet="
            myMenu;
            context: { $implicit: navigationItem.items }
          "
        >
        </ng-container>
        }
      </li>
      }
    </ul>
  </div>
</div>

<ng-template #myMenu let-myItems>
  @if (myItems.length) {
  <ul aria-expanded="false">
    <li>
      @for (navigationItem of myItems; track $index) {
      <a
        [innerText]="navigationItem.title"
        [class]="{
          'mm-active': currentHref === navigationItem.path,
          'd-none': currentHref !== navigationItem.path
        }"
        [routerLink]="[navigationItem.path ? navigationItem.path : currentHref]"
        (click)="closeSideBar(); $event.stopPropagation()"
      >
      </a>
      @if (navigationItem.items) {
      <ng-container
        *ngTemplateOutlet="myMenu; context: { $implicit: navigationItem.items }"
      >
      </ng-container>
      } }
    </li>
  </ul>
  }
</ng-template>
